<div class="wrapper">
    <div class="section  text-center" style="margin-top: 100px">
        <div class="container">
            <h2 class="title text" style="margin-bottom: 100px;">Careers</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="/assets/img/careers-side.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h2 class="text-info">Making things official</h2>
                    <h4>We hire people who are good at what they do. But just as important, are a <span class="text-info">good match for us</span>.</h4>
                </div>
            </div>

            <br>
            <div class="separator separator-info"></div>

            <div class="row ">
                <div class="col-md-12">
                    <h3 class="text-center ">Job Openings</h3>
                    <div class="text-left">
                        <h5 class="text-info">Software Engineer (AI and Robotics Team)</h5>
                        <p>We are a start-up company with the aim of providing complete engineering solutions to address some of the toughest challenges in the industry. Our expertise should span across robotics, unmanned systems, autonomous vehicles (UAV,
                            UGV, USV), CV (Computer Vision), AR, VR, Machine learning, Deep Learning, and vehicle building for the defence, security and rescue, logistics, and medical sector, ranging from product conceptualization and prototype development
                            to mass production. To ensure commitment to the highest quality and performance, we are hiring engineers with the skill and the passion. We are tinkerers, innovators, and makers, and seek the like-minded to join us.
                        </p>
                        <br>
                        <h6>Responsibilities </h6>
                        <p>The team focuses on the development and testing of navigation software for autonomous ground, air, and water surface vehicles, aiming at continuous operation in dynamic and human-robot shared environments. We work on control, localization,
                            path planning, multi-agent systems, perception and decision-making, and develop robust software to ensure constant reliability in safety-critical applications. Fast prototyping and iterations, progressive hardware-in-the-loop
                            development, and extension of quality open-source software is at the core of our team’s activity.
                        </p>
                        <p>Main Tasks: </p>
                        <ul>
                            <li>Quickly assimilate large code libraries and algorithms from scientific literature
                            </li>
                            <li>Develop and maintain proprietary and open-source software applied to AI and robotic navigation problems using professional software development practices to ensure maximum code robustness and extensibility
                            </li>
                            <li>Provide support for on-site deployment of the software on robots and ground stations at our customers' facilities
                            </li>
                        </ul>
                        <br>
                        <h6>Requirements </h6>
                        <p> Essential requirements:</p>
                        <ul>
                            <li>Solid background in software development, algorithms, and AI-related problems
                            </li>
                            <li>Background and/or demonstrated interest in robotics or AI problems
                            </li>
                            <li>Excellent C++ skills, Python and shell scripting are a strong plus
                            </li>
                            <li>Strong Linux skills (experience with RTOS is a plus)
                            </li>
                            <li>Proficient in version control and release cycles, preferably using Git
                            </li>
                            <li>Proficient in unit testing (preferably using the GTest framework) and static/dynamic code analysis
                            </li>
                            <li>Proficient in an advanced IDE
                            </li>
                            <li>Desire to work in a fast-paced, dynamic, small-team environment
                            </li>
                            <li>Strong sense of initiative and rock-solid team spirit
                            </li>

                        </ul>
                        <br>
                        <h6> Desired qualifications and skills:
                        </h6>
                        <ul>
                            <li>Master or Bachelor degree in Computer Engineering or equivalent
                            </li>
                            <li>Young graduates and freshers with relevant backgrounds are encouraged to apply
                            </li>
                            <li>Experience working with ROS (Robot Operating System) is a strong plus
                            </li>
                            <li>Experience in open-source software development is a strong plus
                            </li>
                            <li>Experience in QT, WPF, or Android applications is a plus
                            </li>
                        </ul>

                        <br>
                        <h5 class="text-danger">Important!</h5>
                        <p>We are looking for someone with great passion for robotics, all new applicants from the date of posting of this ad MUST answer the following two questions ( applications that do not include answers to the questions will NOT be
                            read) :
                        </p>
                        <ul>
                            <li>What do you think makes you a good candidate for this position? (1 paragraph) </li>
                            <li>Which previous projects/activities demonstrate your interest for working on robotics or AI related problems? (1 paragraph) </li>
                        </ul>
                        <p style="font-weight: bold;">Email your answer to the two questions with your resume on application to business@goatai.io
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>