<div class="wrapper">
    <div class="section  text-center" style="margin-top: 100px">
        <div class="container">
            <h2 class="title text" style="margin-bottom: 100px;">Contact Us</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="/assets/img/contactus.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h2 class="text-info">Lets Get to Business</h2>
                    <h4>Just contact us for any your questions or concerns and we will give you the help you need.</h4>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12">
                    <div class="text-left">
                        <p>We are a start-up company with the aim of providing complete engineering solutions to address some of the toughest challenges in the industry. Our expertise should span across robotics, unmanned systems, autonomous vehicles (UAV,
                            UGV, USV), CV (Computer Vision), AR, VR, Machine learning, Deep Learning, and vehicle building for the defence, security and rescue, logistics, and medical sector, ranging from product conceptualization and prototype development
                            to mass production. To ensure commitment to the highest quality and performance, we are hiring engineers with the skill and the passion. We are tinkerers, innovators, and makers, and seek the like-minded to join us.
                        </p>
                        <br>
                        <h6>Contact Details</h6>
                        <p>
                            <strong>Address: </strong> Bistpur, Jamshedpur JH India, 831001 <br>
                            <strong>Ph No:   </strong>+91 787979874059/7634925777 <br>
                            <strong>Email:   </strong> info@goatai.io <br>
                        </p>
                        <div class="row">

                            <div class="col-md-6"><a class="btn btn-info btn-round btn-block btn-lg" href="tel:+917979874059">Click to Call</a></div>

                            <div class="col-md-6"> <a class="btn btn-info btn-round btn-block btn-lg" href="mailto:info@goatai.io">Click to Mail</a></div>
                        </div>

                        <br>


                        <br>

                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h3>Keep in touch with us!</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                    <a target="_blank" href="https://twitter.com/goatai4" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/Goataiio-113769620811178" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/goat-ai-1400b120b/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/goatai.io/" class="btn btn-neutral btn-icon btn-instagram btn-round btn-lg" rel="tooltip" title="Follow on Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>