<div class="wrapper">

    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand text-center" style="padding-top: 150px;">
                <img @fade class="n-logo" width="300" src="assets/img/now-logo.png" alt="">
                <h1 class="h1-seo" style="font-weight: bolder;font-family: BigJohn;letter-spacing: 12px;">GOAT AI</h1>
                <h3 typingAnimation [typeSpeed]="50" [startDelay]=" 2000 " (complete)="onComplete() ">We are making tomorrow</h3>
            </div>

        </div>
    </div>

    <div class="main ">
        <div class="section section-about-us ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-8 ml-auto mr-auto text-center ">
                        <h2 class="title ">UNLOCK THE POWER OF YOUR SURROUNDINGS</h2>
                        <h5 class="description " style="font-weight: 400; ">Goat AI delivers world class products by leveraging AI to solve everyday problems. Use it to accelerate your industrial growth.</h5>
                    </div>
                </div>
                <div class="separator separator-info "></div>
                <div class="section-story-overview ">
                    <div class="row ">
                        <div class="col-md-6 ">
                            <div class="image-container image-left " style="background-image: url( 'assets/img/product-2a.jpg') ">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-info ">"Modernizing our homes with AI is not a thing of future anymore. "
                                    <br>
                                    <br>
                                    <small>-Jake Shelton</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->

                        </div>
                        <div class="col-md-5 ">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right " style="background-image: url( 'assets/img/bg1.jpg') "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-info "></div>

        <!-- <div class="section section-team text-center ">
            <div class="container ">
                <h2 class="title ">Our Products</h2>
                <div class="team ">
                    <div class="row ">
                        <div class="col-md-6 ">
                            <div class="team-player ">
                                <img src="assets/img/product-1.jpg " width="300 " alt="Thumbnail Image " class="rounded-circle img-fluid img-raised ">
                                <h4 class="title ">ETDMS-1</h4>
                                <p class="category text-info ">DRIVER FATIGUE MONITORING</p>

                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="team-player ">
                                <img src="assets/img/product-2.jpg " width="300 " alt="Thumbnail Image " class="rounded-circle img-fluid img-raised ">
                                <h4 class="title ">ST-CD-24V-SS S-Type CoolDome</h4>
                                <p class="category text-info ">Active Cooling Enclosure</p>

                            </div>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <a class="btn btn-info btn-round btn-lg " routerLink='/products'>Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="section section-contact-us text-center ">
            <div class="container ">
                <h2 class="title ">Want to work with us?</h2>
                <p class="description ">Your project is very important to us.</p>
                <div class="row ">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto ">
                        <div class="send-button ">
                            <a href="#pablo " class="btn btn-info btn-round btn-block btn-lg ">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="section section-signup " style="background-image: url( 'assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px; ">
            <div class="container " style="text-align: center; ">
                <div class="header header-primary text-center ">
                    <div class="logo-container " style="padding-bottom: 100px; ">
                        <img width="50 " src="assets/img/now-logo.png " alt=" ">
                    </div>
                </div>
                <h2 class="title text-light ">Want to work with us?</h2>
                <p class="description text-light ">Your project is very important to us.</p>
                <div class="row ">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto ">
                        <div class="send-button ">
                            <a routerLink='/contactus' class="btn btn-info btn-round btn-block btn-lg ">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>