<nav class="navbar navbar-expand-lg bg-info fixed-top navbar" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                <img src="/assets/img/nav-logo.png" width="50" alt=""> GOAT AI
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="blue">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/products']">
                        <p>Products</p>
                    </a>
                </li>
                <li class=" nav-item ">
                    <a class="nav-link " [routerLink]="['/careers']">
                        <p>Careers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/contactus'>Contact Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " rel="tooltip " title="Follow us on Twitter " data-placement="bottom " href="https://twitter.com/goatai4" target="_blank ">
                        <i class="fab fa-twitter "></i>
                        <p class="d-lg-none d-xl-none ">Twitter</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " rel="tooltip " title="Like us on Facebook " data-placement="bottom " href="https://www.facebook.com/Goataiio-113769620811178 " target="_blank ">
                        <i class="fab fa-facebook-square "></i>
                        <p class="d-lg-none d-xl-none ">Facebook</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " rel="tooltip " title="Follow us on Instagram " data-placement="bottom " href="https://www.instagram.com/goatai.io/ " target="_blank ">
                        <i class="fab fa-instagram "></i>
                        <p class="d-lg-none d-xl-none ">Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>