<app-navbar>
</app-navbar>
<router-outlet></router-outlet>
<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a routerLink='/'>
                        GOAT AI
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a routerLink='/careers '>
                        Careers
                    </a>
                </li>
                <li>
                    <a routerLink='/products '>Products</a>
                </li>
                <li>
                    <a routerLink='/contactus'>Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class=" copyright ">
            &copy; {{data | date: 'yyyy '}},
            <a href="#" target="_blank ">Goat AI</a>.
        </div>
    </div>
</footer>
<ngx-spinner></ngx-spinner>