<div class="wrapper">
    <div class="section section-team text-center" style="margin-top: 100px">
        <div class="container">
            <h2 class="title" style="margin-bottom: 100px;">Our Products</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/product-1.jpg" width="400" alt="Thumbnail Image" class=" img-fluid img-raised">
                            <h4 class="title">ETDMS-1</h4>
                            <p class="category text-info">Driver Fatigue Monitoring</p>
                            <p class="description" style="font-weight: 400;">With real-time incident detection and preventative in-cab coaching, The ETDMS-1 is proven to protect drivers and lower costs.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/product-2.jpg" width="400" alt="Thumbnail Image" class=" img-fluid img-raised">
                            <h4 class="title">ST-CD-24V-SS S-Type CoolDome (24V)</h4>
                            <p class="category text-info">Active Cooling Enclosure</p>
                            <p class="description" style="font-weight: 400;">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>